*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling Header */
.header-content{
background: #000000;
justify-content: center;
align-items: center;
}

.first-nav-content{
    color: #ffffff;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px; 
}

#cancel{
    font-size: 35px;
    font-weight: bolder;
    transform: rotate(45Deg);
    position: absolute;
    right: 15px;
   top: 7px;
    color: #ffffff;
}

.header-second-nav{
    background: lightgray;
    margin-top: -15px;
    padding: 10px;
}


.header-second-nav li{
    text-decoration: none;
    color: #000000;
    font-size: .9em;
    font-weight: 400;
    display: inline;
    padding: 30px;
}

.nav-logo{
    
        width: 100px;
        position: relative;
       left: -15px;
        top: -15px;
}

.header-third-nav{
        margin-top: -80px;
        position: relative;
        margin-left: 7%;
}

.header-third-nav li{
        color: #000000;
        display: inline;
        text-decoration: none;
        padding: 20px; 
        font-weight: 600;
}

#icon{
    display: none;
}

.third-nav-content-icon{
    float: right;
    margin-top: -70px;
    padding: 30px;
}
/* Styling Header */

.search-content .search-body{
    width: 100%;
}
.search-content-input{
    width: 96%;
    height: 45px;
    border-radius: 20px;
    border: none;
    background: lightgray;
    margin: 5px 1.2%;
    text-indent: 50px;
    outline: none;
}

.search-content-icon{
    position: relative;
    top: 38px;
    left: 45px;
}

.carousel-images{
    height: 500px;
}

.carousel-caption-heading{
    color: black;
    padding: 5px;
   
}
.carousel-caption-button{
    background: black;
    color: #ffffff;
    width: 120px;
    height: 40px;
    font-size: 0.9em;
    border: none;
    border-radius: 3px;
    transition:  background-color 1s, color ease-in-out
}

.carousel-caption-button:hover{
    background: rgba(0, 0, 0, .7);
}


.carousel-caption-heading-paragragh{
    font-size: 1em;
    font-weight: 600;
}

.container-header{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    margin: 5px;
    
}

.containerflex-content-image{
    width: 100%;
    padding: 7px;
    height: 258px;
    transition: transform 0.6s ease-in-out;
}

.containerflex-content-image:hover{
    transform: scale(1.08, 1.08);
}
.containerflex-paragraph{
    text-align: center;
    font-weight: 500;
    color: #000;
    outline: none;
}
.alink:hover{
    text-decoration: none;
}

.container-inspiration-flex-hr{
    width: 80%;
    margin: 0 auto;
}

.mobile{
    display: none;
}

.container-inspiration-heading {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
}

.container-inspiration-paragragh{
    font-weight: normal !important;
    text-align: center;
    margin-top: -10px;
}

.container-inspiration-flex{
    display: flex;
    flex-direction: row;
    flex-basis: 95%;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px #ffffff;;
    
}

.container-inspiration-flex-imagine{
    width: 100%;
    flex: 2;
}

.container-inspiration-flex-imagine2{
    flex: 1;
}

.container-inspiration-flex-imagine-heading{
    font-weight: 700;
    padding: 20px;
    margin: 10px;
}

.container-inspiration-flex2{
    width: 100%;
}

.flex-imagine{
    height: 100%;
}

.container-inspiration-flex2-image{
    padding: 15px;
    margin: 5px;
    transition: transform 0.6s ease-in-out;
}

.remove{
    display: none;
}

.container-inspiration-flex2-image:hover{
    transform: scale(1.09, 1.09);
}
.container-inspiration-flex2-paragraph{
    text-align: center;
    font-weight: 700;
    margin-top: -10px;
}

.container-inspiration-flex2-viewinspiration{
    color: black;
    float: right;
    font-size: 1.2em;
}

.flex2-down{
    margin-top: 40px;
}

.container-shop-by-category-heading{
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
}

.container-shop-by-category-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-shop-by-category-flex-images{
    flex-basis: 20%;
}

.container-shop-by-category-images{
    padding: 20px;
    width: 100%;
    transition: transform 0.6s ease-in-out;
}

.container-shop-by-category-images:hover{
    transform: scale(1.08, 1.08);
}

.container-shop-by-category-paragraph{
    font-weight: bolder;
    text-align: center;
    color: black;
}

.container-partner-1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    
}
.container-partner{
    width: 97%;
}

.container-partner1{
    width: 90%;
    margin-left: 50px;
    
}


.container-partner-picture{
    height: 334px;
    width: 100%;
    
}
.container-partner-picture1{
    height: 334px;
    width: 100%;
}


.container-partner-container{
    height: 334px;
    background: #f5f5f5;
    width: 100%;
}
.container-partner-container1{
    height: 334px;
    background: #f5f5f5;
    width: 100%;
}

.container-partner-text{
    width: 100%;
    text-align: left;
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    }
    
    .container-partner-button{
        width: 150px;
        height: 60px;
        color: #ffffff;
        background: #0058a3;
        border: 1px solid #0058a3;
        border-radius: 2px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        top: 80px;
        left: 15px;
        margin: 10px;
        padding: 10px;
        transition: background-color 1s, color 1s ease-in-out;
    }
    .container-partner-button:hover{
        background-color: aliceblue;
        color: #0058a3;
    }

    .container-shopping-ways-flex{
        display: flex;
        flex-direction: row;
    }
    
    .container-shopping-heading{
    margin: 20px;
    }
    
    .shopping-heading{
        text-align: center;
        font-weight: 700;
    }
    
    .container-shopping-ways-pics1{
        padding: 28px;
        flex-basis: 16.6%;
    
    }
    
    .shopping-picture{
        width: 165px;
        height: 165px;
        border-radius: 50%;
        transition: transform 0.6s ease-in-out;
    }
    
    .shopping-picture:hover{
        transform: scale(1.09, 1.09);
    }

    .button-all-service{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 20px;
     }

     .all-service-button{
        width: 180px;
        height: 50px;
        color: #000000;
        border-radius: 2px;
        border: 1px solid #000;
        font-weight: 700;
        transition: background-color 1s, color ease-in-out ;
        background: #ffffff;
    }

    .shopping-link{
    text-align: center;
    color: #333333;
    font-weight: bolder;
}

.container-buttons-flex{
    display: flex;
    flex-direction: row;  
    justify-content: center;
}


.container-buttons-header{
    flex-basis: 25%;
    margin-left: 70px;
}

.container-buttons-content{
    width: 180px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 3px;
    background: #ffffff;
    transition: background-color 1s, color ease-in-out ;
}

.container-buttons-content:hover, .all-service-button:hover{
    background: #000000;
    color: white;
}

.container-buttons-paragraph{
    color: #333333;
    text-align: left;
    position: relative;
    left: -40px;
}
.center{
    margin-left: -10px;
 }
 

 .container-buttons-flex{
    flex-wrap: wrap;
    justify-content: center;
}
.container-buttons-paragraph{
text-align: center;
font-size: 16px;
margin: 0;
padding: 0;
}

.container-buttons-header{
    flex-basis: 20%;
    margin-left: 0;
    padding: 5px;

}



.container-footer{
    margin-top: 20px;
    background: #0058a3;
    color: #ffffff;
    }
    
    .container-footer-flex{
        display: flex;
        flex-direction: row;
    
    }
    
    .container-footer-content{
        flex-basis: 25%;
        margin: 30px;
        margin-top: 40px;
    }
    
    .footer-content{
        font-weight: 600;
        color: #ffffff;
        padding: 5px;
    }
    
    .footer-icon{
        fill: #ffffff;
        width: 2.2rem;
        height: 2.2rem;
        align-self: flex-start;
        position: relative;
        top: 40px;
        margin-left: 40px;
        
    }
    
    .footer-heading{
        margin-left: 70px;
        padding: 8px;
        
    }
    
    .social-icon{
        padding: 10px;
        border: 2px solid;
        border-radius:  50%;
        background-color: #ffffff;
        color: #0058a3;
        text-align: center;
        
    }

    .move{
        margin-left: 75px;
    }
    
    .footer-socials{
        text-align: center;
        align-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 20px;
    }
    
    .footer-content{
        text-align: center;
    }

    

@media screen and (max-width: 600px){
    .first-nav-content{
        font-size: 14px;
        width: 90%;
        padding: 15px;
        font-family: sans-serif, Arial, Helvetica, sans-serif;

    }
    #cancel{
        top: 20px;
        font-size: 40px;
    }
    
    .header-second-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: none;
    }

    .header-second-nav li{
        display: block;
        padding: 10px;
    }

    .header-third-nav{
        margin-top: -30px;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
         display: none; 

    }
    
    .header-third-nav li{
        display: block;
        padding: 10px;
        text-align: center;
    }

    #icon{
        display: flex;
        padding: 20px;
    }
   
    .nav-icon{
        margin-top: -40px;
    }

    .third-nav-content-icon{
        margin-top: -80px;
        padding: 25px;
    }

    .search-content-icon{
        position: relative;
        top: 38px;
        left: 35px;
    }

    .carousel-caption-heading{
        padding: 0;
        font-size: 20px;
       }

       .container-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       }
       .containerflex-content{
           width: 50%;
           
       }
       .containerflex-content-image{
           width: 100%;
           height: 200px;
    
       }
       .containerflex-paragraph{
           font-size: 20px;
           font-weight: 600;
       }

       .container-flex2-down{ 
        position: relative;
        top: -60px;
        left: -28px;
        width: 100%;
    }
   
    .container-inspiration-flex{
        display: flex;
        flex-direction: column;
        
    }
    .container-inspiration-flex-imagine{
        width: 100%;
    }
    .container-inspiration-checker{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .container-inspiration-flex2{
        width: 100%;
        background: #ffffff;
        
    }
    .container-flex2-down{
        position: relative;
        top: -60px;
        left: -28px;
        width: 100%;
    }

    .container-shop-by-category-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 50%;
    }
    .container-shop-by-category-flex-images{
        flex-basis: 50%;
    }
    .container-shop-by-category-images{
        width: 100%;
    }
    
    .container-partner-1{
        flex-wrap: wrap;
        padding: 0;
        flex-basis: 97%;
        padding: 10px;
    }


    .container-partner-container{
        width: 50%; 
        height: 48vw;
    }

    .container-partner{
        width: 50%;
    }

    .container-partner-container1{
        width: 50%;
        margin-top: 20px; 
        height: 48vw;
    }

    .container-partner1{
        width: 50%;
        margin-left: 0;
        margin-top: 20px;
    }

    .container-partner-picture{
        height: 48vw;
        width: 50vw;
    }

    .container-partner-text{
        width: 100%;
        text-align: left;
        font-size: 15px;
        font-weight: bolder;
        padding: 20px;
        }

    .container-partner-button{
        width: 140px;
        height: 40px;
        font-size: 14px;
        top: -4px;
        
    }

    .container-shopping-ways-flex{
        flex-wrap: wrap;
        flex-basis: 30%; 
        justify-content: center;
    }

    .shopping-picture{
        width: 29vw;
        height: 28vw;
    }

    .shopping-link{
        margin-top: 8px;
    }
.container-footer{
    margin-top: 10px;
}

.container-buttons-content{
    width: 180px;
}

.container-buttons-paragraph{
    color: #333333;
    text-align: left;
    position: relative;
    left: 0;
}

    .container-shopping-ways-pics1{
        flex-basis: 20%;
        padding: 5px;
    }
    .footer-content{
        display: none;
    }
    .container-footer-flex{
        display: flex;
        flex-direction: column;
    }

    .container-footer-content{
        margin: 0;
        border-bottom: 2px solid #f5f5f5;
    }

    .footer-heading{
        font-size: 16px;
        margin-left: 40px;
    }

    .footer-icon{
        margin-left: 10px;
    }

    .footer-socials{
        padding: 20px;
    }

    .remove{
        display: block;
        margin-left: 90%;
        margin-top: -40px;
        font-size: 20px;
    }

}

@media screen and (max-width: 390px){
    .container-partner-button{
        width: 130px;
        height: 40px;
        font-size: 12px;
        top: -25px;
        left: -3px;
    }

    .container-buttons-content{
        width: 130px;
    }
    
    .footer-socials{
        padding: 10px;
        
    }
}